

.App.theme-1 {
	--primary: #3a4663;
	--toggleBtn-bgcolor: #242d44;
	--toggleBtn-circle: #d03f2f;
	--toggleBtn-circle-dir: flex-start;
	--display-bgcolor: #181f33;
	--display-color: #ffffff;
	--keypad-bgcolor: #242d44;
	--btn-bgcolor: #eae3dc;
	--btn-shadow: #a79e91;
	--btn-color: #434a59;
	--DelResetBtn-bgcolor: #647198;
	--DelResetBtn-shadow: #414e73;
	--DelResetBtn-color: #ffffff;
	--equalBtn-bgcolor: #d03f2f;
	--equalBtn-shadow: #93261a;
	--equalBtn-color: #ffffff;
}
.App.theme-2 {
	--primary: #e6e6e6;
	--toggleBtn-bgcolor: #d2cdcd;
	--toggleBtn-circle: #c85402;
	--toggleBtn-circle-dir: center;
	--display-bgcolor: #eeeeee;
	--display-color: #36362c;
	--keypad-bgcolor: #d2cdcd;
	--btn-bgcolor: #131008;
	--btn-shadow: #a79e91;
	--btn-color: #36362c;
	--DelResetBtn-bgcolor: #378187;
	--DelResetBtn-shadow: #1b6066;
	--DelResetBtn-color: #ffffff;
	--equalBtn-bgcolor: #c85402;
	--equalBtn-shadow: #873901;
	--equalBtn-color: #ffffff;
}
.App.theme-3 {
	--primary: #17062a;
	--toggleBtn-bgcolor: #1e0936;
	--toggleBtn-circle: #00ded0;
	--toggleBtn-circle-dir: flex-end;
	--display-bgcolor: #1e0936;
	--display-color: #ffe53d;
	--keypad-bgcolor: #1e0936;
	--btn-bgcolor: #331c4d;
	--btn-shadow: #881c9e;
	--btn-color: #ffe53d;
	--DelResetBtn-bgcolor: #56077c;
	--DelResetBtn-shadow: #be15f4;
	--DelResetBtn-color: #ffffff;
	--equalBtn-bgcolor: #00ded0;
	--equalBtn-shadow: #6cf9f1;
	--equalBtn-color: #ffffff;
}

.App {
	width: 375px;
	height: 667px;
	background-color: var(--primary);
	align-items: center;
}

.header {
	align-items: center;
	margin: 10px 24px 10px 24px;
}

.header > #calc {
	width: 67px;
	height: 36px;
	margin: 4px 116px 4px 0;
	font-family: Spartan;
	/* font-size: 32px; */
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.53px;
	text-align: center;
	color: var(--display-color);
}

/*THEME*/
.header > span {
	width: 51px;
	height: 13px;
	margin: 26px 21px 5px 0;
	font-family: Spartan;
	font-size: 12px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: center;
	color: var(--display-color);
}

/* numbers 1 2 3 above toggleBtn */
.SeveralSituations {
	width: 12px;
	height: 13px;
	margin: 0 5px 5px 10px;
	font-family: Spartan;
	font-size: 12px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: var(--display-color);
}

.App > .header > div > .toggleBtn {
	width: 71px;
	height: 26px;
	margin: 5px 0 0;
	padding: 5px 50px 5px 5px;
	border-radius: 13px;
	background-color: var(--toggleBtn-bgcolor);
}

.App > .header > div > .toggleBtn > #toggle{
	width:58px;
	display:flex;
	justify-content: var(--toggleBtn-circle-dir);
}

/* circle in toggleBtn */
.App > .header > div > .toggleBtn > #toggle > #circle {
	width: 16px;
	height: 16px;
	background-color: var(--toggleBtn-circle);
	border-radius: 50px;
}

